.rent2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 110px 20px;
  background: linear-gradient(to right, #000000, #a0a0a0);
}

.container-rent2 img {
  max-width: 100%;
  height: auto;
}

.rent-info {
  max-width: 400px;
}

.rent-info h2 {
  font-size: 28px;
  color: #ffffff;
}

.rent-info p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.btn-rent {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-rent:hover {
  background-color: red;
  color: #ffffff;
}

/* Responsif untuk layar yang lebih kecil */
@media (max-width: 768px) {
  .rent2 {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .rent-info {
    margin-top: 40px;
    max-width: 100%;
  }
}
